<ion-menu [content]="content">
    <ion-header>
        <ion-navbar [color]="navStatus ? 'primary' : ''">
            <ion-buttons end>
                <button ion-button icon-only (click)="toggleNav()">
                    <ion-icon [name]="navStatus ? 'arrow-down':'arrow-up'"></ion-icon>
                </button>
            </ion-buttons>
            <span style="padding : 0 15px;" [style.color]="navStatus ? 'white' : 'inherit'" *ngIf="dataProvider.profile.name">
                {{navStatus ? dataProvider.profile.name: 'Users'}}
            </span>
            <ion-title *ngIf="!dataProvider.profile.name">
                Login
            </ion-title>
            <ion-buttons start *ngIf="navStatus && dataProvider.profile.name">
                <button menuClose ion-button round item-start *ngIf="dataProvider.profile.img"
                        (click)="openPage(pages[4])">
                    <img width="40px" style="border-radius: 50px;padding : 3px;"
                         [src]="dataProvider.profile.img">
                </button>
                <button menuClose *ngIf="!dataProvider.profile.img" ion-button icon-only
                        (click)="openPage(pages[4])">
                    <ion-icon name="contact"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-toolbar [class]="navStatus ? '' : 'active'">
            <ion-list no-lines no-border>
                <ion-card *ngIf="dataProvider.profile.name" (click)="toggle(dataProvider.profile,$event)">
                    <ion-item color="primary">
                        <ion-avatar item-start *ngIf="dataProvider.profile.img">
                            <img [src]="dataProvider.profile.img">
                        </ion-avatar>
                        <ion-icon *ngIf="!dataProvider.profile.img" color="light" name="contact"
                                  item-start></ion-icon>
                        <h2 [style.color]="dataProvider.profile.active ? 'white' : 'inherit'">{{dataProvider.profile.name}}</h2>
                        <p>{{dataProvider.profile.role}}
                            <ion-badge color="danger" item-end>{{getAmount(dataProvider.notifications)}}</ion-badge>
                        </p>
                        <button ion-button icon-left clear item-end>
                            <ion-icon name="more" color="secondary"></ion-icon>
                        </button>
                    </ion-item>
                </ion-card>
                <ion-card>
                    <button menuClose ion-item (click)="openPage(loginPage)">
                        <ion-icon name="person-add" item-start color="primary"></ion-icon>
                        {{dataProvider.profile.name ? 'Login with another account...' : 'Login...'}}
                    </button>
                </ion-card>
            </ion-list>
        </ion-toolbar>
        <ion-list class="profile-toolbar" no-border no-lines *ngIf="dataProvider.profile.name">
            <button *ngFor="let p of pages, let i = index" detail-none [class.active]="checkActivePage(p.component)" menuClose
                    ion-item
                    (click)="openPage(p)">
                <ion-label>
                    {{p.title}}
                </ion-label>
                <ion-icon color="primary" item-start [name]="p.icon">
                    <ion-badge *ngIf="i == 1" class="counter" color="danger" item-end>{{getAmount(dataProvider.notifications)}}</ion-badge>
                    <ion-badge *ngIf="i == 2" class="counter" color="primary" item-end>{{dataProvider.documents.length}}</ion-badge>
                </ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav no-lines [root]="rootPage" #content
         swipeBackEnabled="false"></ion-nav>
