<ion-header [style.max-height]="hiddenHeader ? '0vh': '10vh'">
    <ion-navbar primary color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu" ></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
        <ion-buttons end *ngIf="!dataProvider.profile">
            <button ion-button color="primary" menuToggle>Login</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content (ionScroll)="contentScroll($event)" (ionScrollEnd)="contentScroll($event)" [class.full]="hiddenHeader">
    <ion-slides pager *ngIf="!dataProvider.profile">
        <ion-slide>
            <h2>Welcome to gedsys app</h2>
        </ion-slide>
        <ion-slide>
            <h2>Please
                <ion-row></ion-row>
                <button ion-button menuToggle small>Login</button>
                <ion-row></ion-row>
                or
                <ion-row></ion-row>
                <button ion-button menuToggle small>Register</button>
                <ion-row></ion-row>
                to continue
            </h2>
        </ion-slide>
    </ion-slides>
    <ion-row *ngIf="dataProvider.profile">
        <ion-card>
            <img [src]="dataProvider.profile.img" *ngIf="dataProvider.profile.img">
            <ion-row *ngIf="!dataProvider.profile.img">
                <ion-icon color="primary" col-12 name="contact"></ion-icon>
            </ion-row>
            <ion-fab right top>
                <button ion-fab (click)="loadSettings()">
                    <ion-icon name="settings"></ion-icon>
                </button>
            </ion-fab>
            <ion-item>
                <h2>{{dataProvider.profile.name}}</h2>
                <p>{{dataProvider.profile.role}}</p>
            </ion-item>
            <ion-item>
                <button ion-button icon-left clear item-start (click)="loadDocuments()">
                    <ion-icon name="copy"></ion-icon>
                    {{dataProvider.documents.length}} Documents
                </button>
                <button ion-button icon-left clear item-end (click)="loadNotifications()">
                    <ion-icon name="notifications"></ion-icon>
                    {{getAmount(dataProvider.notifications)}} Notifications
                </button>
            </ion-item>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <chart style="display: block;" [options]="chartOptions" type="chart"></chart>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <chart style="display: block;" [options]="chartOptions1" type="chart"></chart>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>
