<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
  <ion-row top class="logo-row">
    <ion-col col-10 offset-1 col-sm-4>
      <img color="primary" src="https://www.svgrepo.com/show/151032/paste-text.svg"/>
    </ion-col>
    <ion-col col-12 col-sm-6 offset-sm-1 col-md-4 offset-md-2 col-lg-3 offset-lg-2 col-xl-2 offset-xl-3>
      <div class="login-box" [hidden]="loading">
        <form [formGroup]="formGroup">
          <ion-row center>
            <ion-col>
              <ion-list no-lines inset>
                <ion-item>
                  <ion-label floating color="primary" >Email</ion-label>
                  <ion-input formControlName="email" clearInput type="text" [(ngModel)]="user.email"></ion-input>
                </ion-item>
                <ion-note margin-left item-end padding-left color="danger" *ngIf="email.hasError('required') && email.touched">Email required</ion-note>
                <ion-note margin-left item-end padding-left color="danger" *ngIf="email.touched && !email.hasError('required') && email.invalid">Wrong format</ion-note>
                <ion-item>
                  <ion-label floating color="primary">Password</ion-label>
                  <ion-input formControlName="password" clearInput type="password" [(ngModel)]="user.password"></ion-input>
                </ion-item>
                <ion-note margin-left item-end padding-left color="danger" *ngIf="password.hasError('required') && password.touched">Password required</ion-note>
                <ion-note margin-left item-end padding-left color="danger" *ngIf="password.touched && !password.hasError('required') && password.invalid">Wrong format</ion-note>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row bottom>
            <ion-col class="signup-col">
              <button [disabled]="formGroup.invalid" ion-button class="submit-btn" outline block type="submit" (click)="login(user)">Login</button>
              <button ion-button class="register-btn" block clear (click)="loadRegister()">Create New Account</button>
            </ion-col>
          </ion-row>
        </form>
      </div>
    </ion-col>
  </ion-row>
</ion-content>