<ion-content>
    <ion-grid no-padding>
        <ion-row class="user-img">
            <ion-col col>
                <img *ngIf="dataProvider.profile.img" style="width: 100%" [src]="dataProvider.profile.img"/>
                <ion-icon col-12 class="not-img" *ngIf="!dataProvider.profile.img" color="primary" name="person"></ion-icon>
                <ion-fab bottom right>
                    <button ion-fab color="primary">
                        <ion-icon name="camera"></ion-icon>
                    </button>
                </ion-fab>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col>
                <ion-card-header>
                    <ion-card-title class="profile-info">
                        <h1>
                            <ion-icon style="display: inline" name="brush" color="primary"></ion-icon>
                            <ion-input style="display: inline" type="text" [(ngModel)]="dataProvider.profile.name"></ion-input>
                        </h1>
                        <h3>
                            <ion-icon style="display: inline" name="brush" color="primary"></ion-icon>
                            <ion-input style="display: inline" type="text" [(ngModel)]="dataProvider.profile.role"></ion-input>
                        </h3>
                        <ion-note>
                            <p style="display: inline"> @</p>
                            <ion-input readonly style="display: inline" type="text" [(ngModel)]="dataProvider.profile.username">
                            </ion-input>
                        </ion-note>
                    </ion-card-title>
                </ion-card-header>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
