page-register {
  ion-label {
    padding-left: 5px;
  }
  ion-input {
    border-bottom: solid 1.25px map-get($colors, primary);
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 5px !important;
  }
}
