<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="login-content" padding>
    <ion-row top class="logo-row">
        <ion-col col-10 offset-1 col-sm-4>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
<g><path d="M838.1,10H161.9C111.4,10,70,51.3,70,101.9v796.3c0,50.5,41.3,91.9,91.9,91.9h676.1c50.5,0,91.9-41.3,91.9-91.9V101.9C930,51.3,888.6,10,838.1,10z M842.5,905.7H157.6V94.3h684.9V905.7z M254.1,560.5h488.6v61.2H254.1V560.5L254.1,560.5z M254.1,683h488.6v61.3H254.1V683L254.1,683z M407.3,361c50.7,0,91.9-41.1,91.9-91.9c0-50.8-41.2-91.9-91.9-91.9c-50.8,0-91.9,41.1-91.9,91.9S356.5,361,407.3,361z M560.4,438c0-33.7-41.4-61.2-91.9-61.2H346c-50.6,0-91.9,27.6-91.9,61.2v61.3h306.3L560.4,438L560.4,438z"/></g>
</svg>
        </ion-col>
        <ion-col col-12 col-sm-6 offset-sm-1 col-md-4 offset-md-2 col-lg-3 offset-lg-2 col-xl-2 offset-xl-3>
            <div class="login-box">
                <form [formGroup]="formGroup">
                    <ion-row center>
                        <ion-col>
                            <ion-list no-lines inset>
                                <ion-item>
                                    <ion-label floating color="primary">Username</ion-label>
                                    <ion-input formControlName="username" type="text"
                                               [(ngModel)]="profile.username"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="username.hasError('required') && username.touched">Username required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="username.touched && !username.hasError('required') && username.invalid">
                                    Wrong format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Name</ion-label>
                                    <ion-input formControlName="name" type="text"
                                               [(ngModel)]="profile.name"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="name.hasError('required') && name.touched">Name required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="name.touched && !name.hasError('required') && name.invalid">Wrong
                                    format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Last name</ion-label>
                                    <ion-input formControlName="last_name" type="text"
                                               [(ngModel)]="profile.last_name"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="last_name.hasError('required') && last_name.touched">Last name required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="last_name.touched && !last_name.hasError('required') && last_name.invalid">
                                    Wrong format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Role</ion-label>
                                    <ion-input formControlName="role" type="text"
                                               [(ngModel)]="profile.role"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="role.hasError('required') && role.touched">Role required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="role.touched && !role.hasError('required') && role.invalid">Wrong
                                    format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Image</ion-label>
                                    <ion-input formControlName="img" type="text" [(ngModel)]="profile.img"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="img.hasError('required') && img.touched">Image required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="img.touched && !img.hasError('required') && img.invalid">Wrong format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Email</ion-label>
                                    <ion-input formControlName="email" type="text" [(ngModel)]="user.email"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="email.hasError('required') && email.touched">Email required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="email.touched && !email.hasError('required') && email.invalid">Wrong
                                    format
                                </ion-note>
                                <ion-item>
                                    <ion-label floating color="primary">Password</ion-label>
                                    <ion-input formControlName="password" color="primary" type="password"
                                               [(ngModel)]="user.password"></ion-input>
                                </ion-item>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="password.hasError('required') && password.touched">Password required
                                </ion-note>
                                <ion-note margin-left item-end padding-left color="danger"
                                          *ngIf="password.touched && !password.hasError('required') && password.invalid">
                                    Wrong format
                                </ion-note>

                            </ion-list>
                        </ion-col>
                    </ion-row>

                    <ion-row bottom>
                        <ion-col class="signup-col">
                            <button [disabled]="formGroup.invalid" ion-button class="submit-btn" outline block
                                    type="submit"
                                    (click)="register(user,profile)">Register
                            </button>
                        </ion-col>
                    </ion-row>

                </form>
            </div>
        </ion-col>
    </ion-row>

</ion-content>