page-document-detail {
  ion-card-content{
    pdf-viewer{
      display: block;
      .canvasWrapper{
        border-bottom: dashed 1.25px map_get($colors, primary);
        border-top: dashed 1.25px map_get($colors, primary);
      }
    }
  }
}
